body{
  margin: 0;
  padding: 0;
  background-color: rgb(242, 249, 255);
  overflow-x: hidden;
}
@font-face{
  font-family: 'NightShift';
  src: url("./assests/fonts/NIGHTSHIFTREGULAR-KV8EZ.OTF");
}
@font-face{
  font-family: 'MouldyCheese';
  src: url("./assests/fonts/MOULDYCHEESEREGULAR-WYMWG.TTF");
}
@font-face{
  font-family: 'Queensides';
  src: url("./assests/fonts/QUEENSIDES-3Z7EY.TTF");
}
#imageNav{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.descNav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 25px;
}
#siteName {
  font-family: 'MouldyCheese';
  font-size: 8vw;
  color: white;
  filter: drop-shadow(5px 5px 15px black);
  letter-spacing: 8px;
}
#siteTag {
  font-family: 'MouldyCheese';
  font-size: 0.8vw;
  color: white;
  filter: drop-shadow(5px 5px 15px black);
  letter-spacing: 2px;
}
.shopnow {
  width: 10vw;
  height: 6vh;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(255, 111, 111);
  color: white;
  font-weight: bolder;
  font-size: 1vw;
  font-family: 'Queensides';
  cursor: pointer;
}
.traverse-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: green;
  font-size: 2vw;
  font-weight: 100;
  margin-top: 20px;
  padding-bottom: 20px;
}
.traverse{
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-transform: uppercase;
  font-family: 'MouldyCheese';
  cursor: pointer;
  padding-left: 20px;
}
.profile{
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}
.bi-person-circle{
  padding-top: 15px;
}
.LoginBtn,
.LogOutBtn {
  display: block;
  width: 8vw;
  height: 6.5vh;
  border-radius: 10px;
  border-style: none;
  background-color: green;
  color: white;
  font-family: 'Queensides';
  font-weight: bolder;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2vw;
}
.logout-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.infoSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

#aboutus,
#wcu,
#product {
  font-size: 3vw;
  font-family: 'Queensides';
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(125, 106, 0);
}
#wcu{
  margin-top: 30px;
}
#aboutUsPara {
  max-width: 1400px;
  font-size: 1.2vw;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}
.products{
  border-bottom: 2px solid black;
}
.wcuBox,
.products {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.product,.wcu{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: 320px;
  background-color: rgb(210, 210, 210);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 40px;
}

.product img,.wcu img{
  width: 50%;
  height: 75%;
  object-fit: contain;
}

.product h3,.wcu h1{
  font-size: 1.5vw;
  font-family: 'MouldyCheese';
  letter-spacing: 2px;
}
.wcu h1{
  margin-top: 30px;
}
.shopnowProd {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 1.1vw;
  background-color: green;
  color: white;
  font-family: 'Queensides';
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}
footer {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

footer img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.footerDesc{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#footerSiteName {
  font-family: 'MouldyCheese';
  font-size: 6vw;
  color: white;
  filter: drop-shadow(5px 5px 15px black);
  letter-spacing: 8px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footerInfo1,
.footerInfo2 {
  font-family: 'Queensides';
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .products,.wcuBox {
  grid-template-columns: repeat(2,1fr);
}
.wcuBox{
  width: 657px;
}
}
@media (max-width: 768px){
  .LoginBtn,
.LogOutBtn{
  height: 4.5vh;
}
.shopnowProd{
  font-size: 2vw;
}
.product h3,.wcu h1{
  font-size: 3vw;
  font-family: 'MouldyCheese';
  letter-spacing: 2px;
}
#footerSiteName {
  font-family: 'MouldyCheese';
  font-size: 8.5vw;
  color: white;
  filter: drop-shadow(5px 5px 15px black);
  letter-spacing: 8px;
}
.footerInfo1,
.footerInfo2 {
  font-family: 'Queensides';
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
}
.wcuBox,.products{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  border-bottom: 2px solid black;
}
#siteName {
  font-size: 14vw;
}
#siteTag {
  font-size: 1.4vw;
}
.shopnow {
  width: 14vw;
  height: 6vh;
  font-size: 1.5vw
}
}
@media (max-width: 368px){
  #siteName {
    font-size: 18vw;
  }
  #siteTag {
    font-size: 2vw;
  }
  .shopnow {
    width: 26vw;
    height: 6vh;
    font-size: 3.4vw
  }
  .traverse-wrapper{
    font-size: 3vw
  }
  .traverse{
    gap: 20px;
  }
  .LoginBtn,
  .LogOutBtn{
    width: 16vw;
    height: 4vh;
    font-size: 2.7vw;
    font-weight: bolder;
  }
  #aboutus,
#wcu,
#product {
  font-size: 10vw;
  font-family: 'Queensides';
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(125, 106, 0);
}
#aboutUsPara {
  max-width: 1400px;
  width: 300px;
  font-size: 3.7vw;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}
.shopnowProd{
  font-size: 4vw;
}
.product h3,.wcu h1{
  font-size: 6vw;
  font-family: 'MouldyCheese';
  letter-spacing: 2px;
}
.wcuBox{
  width: 310px;
}
#footerSiteName {
  font-family: 'MouldyCheese';
  font-size: 16vw;
  color: white;
  filter: drop-shadow(5px 5px 15px black);
  letter-spacing: 8px;
}
.footerInfo1,
.footerInfo2 {
  font-family: 'Queensides';
  color: white;
  font-size: 2.5vw;
  cursor: pointer;
}
.footerDesc{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 34%;
  left: 54%;
  transform: translate(-50%,-50%);
}
#profileHome{
  padding-top: 18px;
  width: 23px;
}
.profile{
  margin-right: 20px;
}
.logout-profile .bi-person-circle{
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 8px;
}
}